<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198012018221-savu0tuhjt9639bus61civbsv1v2ptjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198012018221-savu0tuhjt9639bus61civbsv1v2ptjf</string>
	<key>API_KEY</key>
	<string>AIzaSyAjVDegIVl4moG7AppRhGtEc66ykOFHq-w</string>
	<key>GCM_SENDER_ID</key>
	<string>198012018221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.homework.homeWork-1</string>
	<key>PROJECT_ID</key>
	<string>my-new-vkclone</string>
	<key>STORAGE_BUCKET</key>
	<string>my-new-vkclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198012018221:ios:7d9941c33bb492f5c462a4</string>
</dict>
</plist>